# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Folder
./c0Compiler/cmake-bulid-debug
./idea
./c0Compiler/bin
./c0Compiler/obj
./c0Compiler/compiler.*
./c0Compiler/Grammar Analysis.txt
./c0Compiler/MIPS code.asm
./c0Compiler/Quadruple.txt